.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $color-1;
    a:visited, a:link, :active,a:hover{
        text-decoration: none;
    }

    .usernav{
        display: flex;
        justify-content: space-between;
        .user, .log{
            margin: 0 15px;
            width: 32px;
            height: 32px;
        }
    }


    .logo{
        display: flex;
        justify-content: center;
        padding: 10px 5px;
        img{
            width: 32px;

        }
        h3 {
            margin: 0 15px;
            text-decoration: none;
            color:$color-3;
            font-weight: 900;
            font-size: 26px;

        }
    }
}